<header th:fragment="header(titulo)">
	<div class="container mt-3">
		<ui class="nav nav-tabs">
			<li class="nav-item">
				<a aria-current="page" class="nav-link" href="/"
				   th:classappend="${caminho.equals('/') ? 'active' : ''}">Home</a><!--se o caminho for /, adicionar active na classe-->
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/professores"
					th:classappend="${caminho.startsWith('/professores') ? 'active' : ''}" >Professor</a> <!--se o caminho começar com professor, adicionar active na classe-->
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Alunos</a>
			</li>
		</ui>
	</div>

	<div class="container mt-3">
		<div class="row">
			<div class="col-12">
				<h1 th:text="${titulo}"></h1>
			</div>
		</div>

	</div>
</header>