<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/fraghead :: head('Detalhes do Professor')}"></head>

<body>
	
	<header th:replace="~{fragmentos/fragheader :: header('Detalhes do Professor')}"></header>
	
	<main>
		<div class="container mt-4">
			<div class="row">
				<div class="col-12">
					<b>Nome: </b> <span th:text="${professor.nome}"></span><br/>
					<b>Salário: </b> <span th:text="${professor.salario}"></span><br/>
					<b>Status: </b> <span th:text="${professor.statusProfessor.toString()}"></span><br/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<a href="#">Editar</a> <a href="/professores">Voltar</a>
				</div>
			</div>
		</div>
	</main>
	



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>