<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/fraghead :: head('Lista de Professores')}"></head>

<body>
	
	<header th:replace="~{fragmentos/fragheader :: header('Lista de Professores')}"></header>

	<div class="container mt-4">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Salário</th>
					<th scope="col">Status</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="professorUnico : ${professores}"> <!--pegando a lista de professores com o thymeleaf e fazendo um for each-->
					<th class="col-1" th:text="${professorUnico.Id}">ID</th>
					<td class="col-4" th:text="${professorUnico.nome}">Nome do Professor</td>
					<td class="col-2" th:text="${professorUnico.salario}">Salário</td>
					<td class="col-2" th:text="${professorUnico.statusProfessor.toString()}">STATUS</td>
					<!--						   @{/url/{crieiUmParametro}(ParametroCriado = ${valor})}		-->
					<td class="col-1"><a th:href="@{/professores/{professorId}(professorId = ${professorUnico.id})}">Detalhes</a></td>
					
					<td class="col-1"><a th:href="@{/professores/{professorId}/editar(professorId = ${professorUnico.id})}">Editar</a></td>
					<td class="col-1"><a href="#">Deletar</a></td>
				</tr>
			</tbody>
		</table>
		
		<div class="row">
		        <a href="/professores/novo">Novo Professor</a>
		    </div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>